<div class="container-fluid">
  <div class="row">
    <div class="offset-md-2 col-md-4">
      <h2 class="h1 font-weight-bold text-center py3">Registrar Permiso</h2>
      <form>
        <input type="hidden" name="_id">
        <div class="form-group col-md-8 pl-0">
          <label class="font-weight-bold">Dia del permiso:</label>
          <input class="form-control" type="date" name="day">
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <h2 class="h1 font-weight-bold text-center py-3">Listado de permisos</h2>
      <table class="table">
        <thead class="bg-primary">
          <tr>
            <th scope="col" class="text-white">Dia</th>
            <th scope="col" class="text-white">Inicio</th>
            <th scope="col" class="text-white">Fin</th>
            <th scope="col" class="text-white">Rol</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let permiso of permisoService.permisos">
            <td>{{ permiso.day }}</td>
            <td>{{ permiso.start_time }}</td>
            <td>{{ permiso.end_time }} </td>
            <td>
                <a class="btn btn-outline-primary mr-2" (click)="eliminarPermiso(permiso._id)">
                    <i class="far fa-trash-alt text-danger"></i>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
